<div class="page-wraper">
	<!-- Construction -->
	<div class="under-construction overlay-white-dark background-luminosity" style="background-image:url('assets/images/background/bg5.jpg'); background-position: center;">

		<div class="inner-construction">

			<div class="logo-header clearfix">
				<a [routerLink]="['/index']"><img src="assets/images/logo.png" alt=""></a>
			</div>
			<h1 class="dz-head">Site Is Down<br>For Maintenance</h1>
			<p>This is the Technical Problems Page.<br> Or any other page.</p>

			<span [innerHTML]="SvgImage"></span>

		</div>
	</div>
	<!-- Construction -->
</div>
