<div class="clear" id="comment-list">
  <div class="comments-area" id="comments">
    <div class="widget-title style-1">
      <h4 class="title">Comments</h4>
    </div>
    <div class="clearfix">
      <!-- comment list END -->
      <ol class="comment-list">
        <li class="comment">
          <div class="comment-body">
            <div class="comment-author vcard">
              <img  class="avatar photo" src="assets/images/avatar/avatar1.jpg" alt="">
              <cite class="fn">Celesto Anderson</cite>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="reply">
              <a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
            </div>
          </div>
          <ol class="children">
            <li class="comment odd parent">
              <div class="comment-body">
                <div class="comment-author vcard">
                  <img  class="avatar photo" src="assets/images/avatar/avatar2.jpg" alt="">
                  <cite class="fn">Jake Johnson</cite>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="reply">
                  <a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
                </div>
              </div>
              <!-- list END -->
            </li>
          </ol>
          <!-- list END -->
        </li>
        <li class="comment">
          <div class="comment-body">
            <div class="comment-author vcard">
              <img  class="avatar photo" src="assets/images/avatar/avatar3.jpg" alt="">
              <cite class="fn">John Doe</cite>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="reply">
              <a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
            </div>
          </div>
        </li>
        <li class="comment">
          <div class="comment-body">
            <div class="comment-author vcard">
              <img  class="avatar photo" src="assets/images/avatar/avatar4.jpg" alt="">
              <cite class="fn">Celesto Anderson</cite>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="reply">
              <a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
            </div>
          </div>
        </li>
      </ol>
      <!-- comment list END -->

      <!-- Form -->
      <div class="comment-respond" id="respond">
        <div class="widget-title style-1">
          <h4 class="title" id="reply-title">Leave Your Comment
            <small><a style="display:none;" href="javascript:void(0);" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a></small>
          </h4>
        </div>
        <form class="comment-form">
          <p class="comment-form-author">
            <label for="author">Name <span class="required">*</span></label>
            <input type="text" name="Author"  placeholder="Author" id="author">
          </p>
          <p class="comment-form-email">
            <label for="email">Email <span class="required">*</span></label>
            <input type="text" placeholder="Email" name="email" id="email">
          </p>
          <p class="comment-form-comment">
            <label for="comment">Comment</label>
            <textarea rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
          </p>
          <p class="form-submit">
            <button type="submit" class="btn btn-primary" id="submit">SUBMIT</button>
          </p>
        </form>
      </div>
      <!-- Form -->
    </div>
  </div>
</div>
