<section class="content-inner-2 overlay-primary-dark about-wrapper2 bg-img-fix" style="background-image:url('assets/images/background/bg4.jpg');  background-size: cover; background-repeat: no-repeat;">
  <div class="container">
    <div class="about-bx2">
      <div class="row g-0">
        <div class="col-lg-4">
          <div class="dz-media">
            <img src="assets/images/about/pic1.jpg" alt="image">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="dz-info">
            <h2 class="title m-b30 m-md-b20">Fundraising is the gentle art of teaching the joy of giving</h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <div class="signature">
              <img src="assets/images/about/signature.png" alt="image">
              <p class="text-dark m-t15 mb-0">William Durant</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
