<section class="content-inner-2 overlay-primary-dark about-wrapper2 bg-img-fix"
  style="background-image:url('assets/images/background/bg4.jpg');  background-size: cover; background-repeat: no-repeat;">
  <div class="container">
    <div class="about-bx2">
      <div class="row g-0">
        <div class="col-lg-4">
          <div class="dz-media">
            <img src="assets/images/team/pic1.png" alt="image">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="dz-info">
            <div class="signature">
              <!-- <img src="assets/images/about/signature.png" alt="image"> -->
              <p class="text-dark m-t15 mb-0 myMom">Estelle LE QUELLEC </p>
            </div>
            <h2 class="title m-b30 m-md-b20">Fondatrice de l'association Barca</h2>
            <p class="text">Originaire du Burkina Faso, Estelle a nourri dès son plus jeune âge le désir profond de
              contribuer au développement de son pays. Animée par l’idée de bâtir un lieu où chacun, sans distinction,
              pourrait accéder à l’apprentissage de manière équitable, elle rêvait d’un espace où la volonté et la
              détermination permettraient à chacun de s’épanouir et de progresser dans la société. Forte de ses
              aspirations et d’une vision empreinte d’espoir, elle a fondé en 2016 l’association Barca, un projet
              porteur de changement et de possibilités.</p>
            <div class="signature">
              <img src="assets/images/team/sign.png" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>