<div class="main-bnr-one">
  <div class="swiper-container main-slider">
    <div class="swiper-wrapper">
      @for(item of slide; track item){
      <div class="swiper-slide">
        <div class="banner-inner" [style.backgroundImage]="'url(' + item.bgImage + ')'">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                  <div class="top-content">
                    <h5 class="sub-title text-secondary">{{ item.subtitle }}</h5>
                    <h1 class="title">{{ item.title }} </h1>
                    <p>{{ item.desc }}</p>
                    <div class="d-flex align-items-center">
                      <a class="btn btn-primary btnhover1" href="javascript:void(0);" (click)="modalDonate(content)">
                        <span>Faire un don</span>
                        <i class="flaticon-heart text-secondary ms-3"></i>
                      </a>
                      <a [routerLink]="['/about-us']" class="btn btn-secondary btnhover2">En savoir plus <i
                          class="flaticon-right-arrows ms-3"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="banner-media row gx-4">
                  <div class="col-5">
                    <div class="main-img1">
                      <img src="{{ item.mainImg1 }}" alt="">
                    </div>
                    <div class="main-img2">
                      <img src="{{ item.mainImg2 }}" alt="">
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="main-img3">
                      <img src="{{ item.mainImg3 }}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <svg class="shape1" width="187" height="559" viewBox="0 0 187 559" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M158 245C71.6 224.2 -50.6667 146.333 -101 110V497C95.8 534.6 153.667 344.667 158 245Z"
              fill="var(--primary)" />
            <path d="M-113 2C-12 190 292.675 -12.9435 143 241C54 392 93 529 -100 556" stroke="var(--secondary)"
              stroke-width="6" />
          </svg>
          <svg class="shape3" viewBox="0 0 619 356" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 3C68 113 148 236.892 316 249C427 257 557 198 626 354" stroke="var(--secondary)"
              stroke-width="8" />
            <path d="M440.576 119.632C305 113 297.836 59.5755 261 11H619V266C594 162 551.867 125.077 440.576 119.632Z"
              fill="var(--primary)" />
          </svg>
        </div>
      </div>
      }
    </div>
    <div class="bottom-wrapper">
      <ul class="social-list">
        <li><a target="_blank" href="https://www.facebook.com/barcaburkina/">Facebook</a></li>
        <!-- <li><a target="_blank" href="https://twitter.com/">Twitter</a></li> -->
        <li><a target="_blank" href="https://www.instagram.com/barcaburkina/">Instagram</a></li>
      </ul>
      <div class="btn-wrapper">
        <div class="main-btn main-btn-prev swiper-main-btn-prev"><i class="fa fa-angle-left"></i></div>
        <div class="main-btn main-btn-next swiper-main-btn-next"><i class="fa fa-angle-right"></i></div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Faire un don</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="flaticon-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-pop-up-hello-asso></app-pop-up-hello-asso>
  </div>
</ng-template>