<div class="content-inner-3 section-wrapper7">
  <div class="container">
    <div class="map-wrapper">
      <img src="assets/images/map.png" class="main-img" alt="">
      <ul>
        <li class="icon-dropdown">
          <div class="right"><p>It is 30% poor in the country</p><a href="javascript:void(0):" class="btn-link" data-bs-toggle="modal" data-bs-target="#modalDonate">Donate Now</a></div>
        </li>
        <li class="icon-dropdown">
          <div class="right"><p>It is 50% poor in the country</p><a href="javascript:void(0):" class="btn-link" data-bs-toggle="modal" data-bs-target="#modalDonate">Donate Now</a></div>
        </li>
        <li class="icon-dropdown">
          <div class="left"><p>It is 25% poor in the country</p><a href="javascript:void(0):" class="btn-link" data-bs-toggle="modal" data-bs-target="#modalDonate">Donate Now</a></div>
        </li>
      </ul>
    </div>
    <div class="counter-wrapper-2">
      <div class="counter-inner">
        <app-counter3></app-counter3>
      </div>
    </div>
  </div>
  <span [innerHTML]="mapSvgImage"></span>
</div>
