<div class="swiper recent-blog">
  <div class="swiper-wrapper">

    @for(item of data; track item){
    <div class="swiper-slide">
      <div class="dz-card style-2 overlay-skew">
        <div class="dz-media">
          <a [routerLink]="['/post', item.id]"><img src="{{ item.image }}" alt=""></a>
        </div>
        <div class="dz-info">
          <ul class="dz-category">
            <li><a href="javascript:void(0);">{{ item.type | uppercase }}</a></li>
          </ul>
          <h5 class="dz-title"><a [routerLink]="['/post', item.id]">{{ item.title }}</a>
          </h5>
          <div class="progress-bx style-1">
            <!-- <div class="progress">
              <div class="progress-bar progress-bar-secondary progress-bar-striped progress-bar-animated"
                role="progressbar" [attr.aria-valuenow]="item.progress" aria-valuemin="0" aria-valuemax="100"
                [style.width.%]="item.progress">
              </div>
            </div> -->
            <ul class="progress-tag">
              <!-- <li class="raised">
                <i class="las la-coins"></i> <span>Total Raised {{ item.totalRaised | currency: 'USD':true:'2.0'
                  }}</span>
              </li> -->
              <!-- <li class="goal">
                <i class="lar la-calendar"></i> <span>{{ item.endDate }}</span>
              </li> -->
            </ul>
          </div>
          <div class="footer-bottom d-flex">
            <a [routerLink]="['/post', item.id]" class="btn btn-sm btn-secondary btn-rounded me-3 bookmark-btn"><i
                class="flaticon-like"></i></a>
            <a class="btn btn-primary btn-rounded btn-block" (click)="openModal(modalDonate)">Faire un don</a>
          </div>
        </div>
      </div>
    </div>
    }

  </div>
</div>

<ng-template #modalDonate let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Faire un don</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="flaticon-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-pop-up-hello-asso></app-pop-up-hello-asso>
  </div>
</ng-template>