<div class="swiper recent-blog">
  <div class="swiper-wrapper">

    @for(item of data; track item){
    <div class="swiper-slide">
      <div class="dz-card style-2 overlay-skew">
        <div class="dz-media">
          <a [routerLink]="['/post', item.id]"><img src="{{ item.image }}" alt=""></a>
        </div>
        <div class="dz-info">
          <ul class="dz-category">
            <li><a href="javascript:void(0);">{{ item.type | uppercase }}</a></li>
          </ul>
          <h5 class="dz-title"><a [routerLink]="['/post', item.id]">{{ item.title }}</a>
          </h5>
          <div class="progress-bx style-1">
            <!-- <div class="progress">
              <div class="progress-bar progress-bar-secondary progress-bar-striped progress-bar-animated"
                role="progressbar" [attr.aria-valuenow]="item.progress" aria-valuemin="0" aria-valuemax="100"
                [style.width.%]="item.progress">
              </div>
            </div> -->
            <ul class="progress-tag">
              <!-- <li class="raised">
                <i class="las la-coins"></i> <span>Total Raised {{ item.totalRaised | currency: 'USD':true:'2.0'
                  }}</span>
              </li> -->
              <li class="goal">
                <i class="lar la-calendar"></i> <span>{{ item.endDate }}</span>
              </li>
            </ul>
          </div>
          <div class="footer-bottom d-flex">
            <a href="javascript:void(0);" class="btn btn-sm btn-secondary btn-rounded me-3 bookmark-btn"
              (click)="openModal(modalDonate)"><i class="flaticon-like"></i></a>
            <a [routerLink]="['/post', item.id]" class="btn btn-primary btn-rounded btn-block">Faire un don</a>
          </div>
        </div>
      </div>
    </div>
    }

  </div>
</div>

<ng-template #modalDonate let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Choose a donation amount</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
        class="flaticon-close"></i></button>
  </div>
  <div class="modal-body">
    <form class="p-0" action="">
      <div class="row">
        <div class="col-lg-12">
          <div class="tag-donate style-1">
            <div class="donate-categories">
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="modalDonateSelect.flexRadioDefault"
                  name="flexRadioDefault" value="500" id="flexRadioDefault11">
                <label class="form-check-label" for="flexRadioDefault11">
                  $500
                </label>
              </div>
            </div>
            <div class="donate-categories">
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="modalDonateSelect.flexRadioDefault"
                  value="1000" name="flexRadioDefault2" id="flexRadioDefault22">
                <label class="form-check-label" for="flexRadioDefault22">
                  $1000
                </label>
              </div>
            </div>
            <div class="donate-categories">
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="modalDonateSelect.flexRadioDefault"
                  value="2000" name="flexRadioDefault3" id="flexRadioDefault33">
                <label class="form-check-label" for="flexRadioDefault33">
                  $2000
                </label>
              </div>
            </div>
            <div class="donate-categories">
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="modalDonateSelect.flexRadioDefault"
                  value="5000" name="flexRadioDefault4" id="flexRadioDefault44">
                <label class="form-check-label" for="flexRadioDefault44">
                  $5000
                </label>
              </div>
            </div>
            <p>Most Donors donate approx <span>${{modalDonateSelect.flexRadioDefault}}</span> to this Fundraiser</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Other Amount</label>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Other Amount">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Name</label>
            <div class="input-group">
              <input name="dzName" required="" type="text" class="form-control" placeholder="Jakob Bothman">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Email address</label>
            <div class="input-group">
              <input name="dzEmail" required type="text" class="form-control" placeholder="info@mail.com">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Phone Number</label>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Phone Number">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Address</label>
            <div class="input-group">
              <input required type="text" class="form-control" placeholder="Address">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Pancard</label>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Pancard">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group mb-0 text-center">
            <button name="submit" type="submit" value="Submit" class="btn btn-primary btn-block">Proceed To Pay</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>