<div class="page-wraper page-wraper-sidebar">
  <div class="page-sidebar">
    <ul class="dz-social">
      <li><a target="_blank" href="https://www.facebook.com/barcaburkina/">Facebook</a></li>
      <!-- <li><a target="_blank" href="https://twitter.com/">Twitter</a></li>
			<li><a target="_blank" href="https://www.linkedin.com/">Linkedin</a></li> -->
    </ul>
    <a href="javascript:void(0);" class="btn-bottom btn btn-primary light" (click)="openModal(modalDonate)">Donate
      Now</a>
  </div>
  <!-- Header -->
  <app-header-2 [headerClass]="headerClass"></app-header-2>
  <!-- Header End -->

  <div class="page-content bg-white">

    <!-- Banner -->
    <app-banner-3></app-banner-3>

    <!-- Trending Fundraisers -->
    <app-course-2></app-course-2>
    <!-- Online Courses End -->

    <!-- About Us -->
    <app-about-us-2></app-about-us-2>
    <!-- About Us -->

    <!-- Services -->
    <app-service-2></app-service-2>
    <!-- Services -->

    <!-- vedio-bx -->
    <app-content-3></app-content-3>
    <!-- vedio-bx -->

    <!-- Testimonial Start -->
    <app-testimonial-3 [data]="testimonial"></app-testimonial-3>
    <!-- Testimonial End -->

    <!-- Join Form Start -->
    <app-form-1></app-form-1>
    <!-- Join Form End -->

    <!-- Our Blog  -->
    <section class="content-inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-12 wow fadeInUp" data-wow-delay="0.2s">
            <div class="section-head">
              <h2 class="title">Latest News Feed</h2>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 m-b30 text-end d-none d-lg-block wow fadeInUp" data-wow-delay="0.4s">
            <a [routerLink]="['/blog-grid']" class="btn btn-primary">All Blogs</a>
          </div>
        </div>
      </div>
      <div class="container position-relative">
        <app-blog-slider-3-swiper [data]="blogData"></app-blog-slider-3-swiper>
      </div>
    </section>
    <!-- Our Blog End  -->

    <hr class="container">

    <!-- Donate Charity -->
    <section class="content-inner-3">
      <div class="container">
        <div class="section-head text-center m-b30 wow fadeInUp" data-wow-delay="0.2s">
          <h2 class="title text-capitalize">Donate to charity projects <br>around the world</h2>
        </div>
        <div class="text-center wow fadeInUp" data-wow-delay="0.4s">
          <a [routerLink]="['/become-a-fundraiser']" class="btn btn-primary">View All Feed</a>
        </div>
      </div>
    </section>
    <!-- Donate Charity -->

    <!-- Client Logo -->
    <div class="clients-wrapper">
      <div class="container">
        <app-clients-swiper></app-clients-swiper>
      </div>
    </div>
    <!-- Client Logo -->

  </div>

  <!-- Footer -->
  <app-footer-3></app-footer-3>
  <!-- Footer End -->

  <app-scroll-top-button></app-scroll-top-button>
</div>

<ng-template #modalDonate let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Choose a donation amount</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
        class="flaticon-close"></i></button>
  </div>
  <div class="modal-body">
    <form class="p-0" action="">
      <div class="row">
        <div class="col-lg-12">
          <div class="tag-donate style-1">
            <div class="donate-categories">
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="modalDonateSelect.flexRadioDefault"
                  name="flexRadioDefault" value="500" id="flexRadioDefault11">
                <label class="form-check-label" for="flexRadioDefault11">
                  $500
                </label>
              </div>
            </div>
            <div class="donate-categories">
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="modalDonateSelect.flexRadioDefault"
                  value="1000" name="flexRadioDefault2" id="flexRadioDefault22">
                <label class="form-check-label" for="flexRadioDefault22">
                  $1000
                </label>
              </div>
            </div>
            <div class="donate-categories">
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="modalDonateSelect.flexRadioDefault"
                  value="2000" name="flexRadioDefault3" id="flexRadioDefault33">
                <label class="form-check-label" for="flexRadioDefault33">
                  $2000
                </label>
              </div>
            </div>
            <div class="donate-categories">
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="modalDonateSelect.flexRadioDefault"
                  value="5000" name="flexRadioDefault4" id="flexRadioDefault44">
                <label class="form-check-label" for="flexRadioDefault44">
                  $5000
                </label>
              </div>
            </div>
            <p>Most Donors donate approx <span>${{modalDonateSelect.flexRadioDefault}}</span> to this Fundraiser</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Other Amount</label>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Other Amount">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Name</label>
            <div class="input-group">
              <input name="dzName" required="" type="text" class="form-control" placeholder="Jakob Bothman">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Email address</label>
            <div class="input-group">
              <input name="dzEmail" required type="text" class="form-control" placeholder="info@mail.com">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Phone Number</label>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Phone Number">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Address</label>
            <div class="input-group">
              <input required type="text" class="form-control" placeholder="Address">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-label">Pancard</label>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Pancard">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group mb-0 text-center">
            <button name="submit" type="submit" value="Submit" class="btn btn-primary btn-block">Proceed To Pay</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>