<div class="swiper clients-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="clients-logo">
        <img class="logo-main" src="assets/images/clients-logo/logo1.png" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="clients-logo">
        <img class="logo-main" src="assets/images/clients-logo/logo2.png" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="clients-logo">
        <img class="logo-main" src="assets/images/clients-logo/logo3.png" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="clients-logo">
        <img class="logo-main" src="assets/images/clients-logo/logo4.png" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="clients-logo">
        <img class="logo-main" src="assets/images/clients-logo/logo5.png" alt="">
      </div>
    </div>
  </div>
</div>
