@for(item of data; track item){
  <div class="{{ listStyle == 'style-1'? 'dz-card style-1 blog-half':'col-xl-4 col-md-6 m-b30' }}">
    <div *ngIf="listStyle != 'style-1'; else style1Block" class="dz-card style-1">
      <div class="dz-media">
        <a [routerLink]="['/blog-details']"><img src="{{ item.blogImage }}" alt=""></a>
        <ul class="dz-badge-list">
          <li><a href="javascript:void(0);" class="dz-badge">{{ item.category }}</a></li>
        </ul>
        <a [routerLink]="['/blog-details']" class="btn btn-secondary">Read More</a>
      </div>
      <div class="dz-info">
        <h5 class="dz-title"><a [routerLink]="['/blog-details']">{{ item.title }}</a></h5>
        <p>{{ item.desc }}</p>

        <div class="author-wrappper">
          <div class="author-media">
            <img src="{{ item.userImage }}" alt="">
          </div>
          <div class="author-content">
            <div class="author-head">
              <h6 class="author-name">{{ item.name }}</h6>
            </div>
            <ul class="author-meta">
              <li class="date">{{ item.date }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ng-template #style1Block>
      <div class="dz-media">
        <a [routerLink]="['/blog-details']">
          <img [src]="item.blogImage" alt="">
        </a>
        <ul class="dz-badge-list">
          <li>
            <a href="javascript:void(0);" class="dz-badge">{{ item.category }}</a>
          </li>
        </ul>
        <a [routerLink]="['/blog-details']" class="btn btn-secondary">Read More</a>
      </div>
      <div class="dz-info">
        <h5 class="dz-title">
          <a [routerLink]="['/blog-details']">{{ item.title }}</a>
        </h5>
        <p>{{ item.desc }}</p>
        <div class="author-wrappper">
          <div class="author-media">
            <img [src]="item.userImage" alt="">
          </div>
          <div class="author-content">
            <div class="author-head">
              <h6 class="author-name">{{ item.name }}</h6>
            </div>
            <ul class="author-meta">
              <li class="date">{{ item.date }}</li>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  }
