<!-- <div id="loading-area" class="loading-page-1">
	<div class="loading-inner">
		<div class="item-wrapper">

			<img class="item1" src="assets/images/hand1.png" alt="">
			<img class="item2" src="assets/images/hand2.png" alt="">
			<img class="item3" src="assets/images/heart.png" alt="">

		</div>
		<div class="load-text">
			<span data-text="B" class="text-load">B</span>
			<span data-text="A" class="text-load">A</span>
			<span data-text="R" class="text-load">R</span>
			<span data-text="C" class="text-load">C</span>
			<span data-text="A" class="text-load">A</span>
		</div>
	</div>
</div> -->


<div class="page-wraper">

	<!-- Header -->
	<app-header-2></app-header-2>
	<!-- Header End -->

	<div class="page-content bg-white">
		<!-- Banner -->
		<app-banner-2></app-banner-2>

		<!-- About Us -->
		<app-about-us-2></app-about-us-2>
		<!-- About Us End-->

		<!-- service -->
		<app-service-1></app-service-1>
		<!-- service -->


		<!-- Fundraiser Steps -->
		<app-content-2></app-content-2>
		<!-- Fundraiser Steps -->


		<!-- Online Courses -->
		<app-course-1></app-course-1>
		<!-- Online Courses End -->

		<!-- Testimonials -->
		<!-- <app-testimonial-2 [data]="testimonial"></app-testimonial-2> -->
		<!-- Testimonials End -->

		<!-- Our Blog  -->
		<section class="content-inner-2">
			<div class="container">
				<div class="row">
					<div class="col-xl-7 col-lg-12">
						<div class="section-head wow fadeInUp" data-wow-delay="0.2s">
							<h5 class="sub-title">Nos Avancées</h5>
							<h2 class="title">Nos Récentes Réalisations</h2>
						</div>
						@for(item of blogList; track item){
						<div class="dz-card style-6 blog-half wow fadeInUp" data-wow-delay="0.2s">
							<div class="dz-media">
								<a [routerLink]="['/post', item.id]"><img src="{{ item.blogPostImage }}" alt=""></a>
								<ul class="dz-badge-list">
									<li><a href="javascript:void(0);" class="dz-badge">{{ item.date }}</a></li>
								</ul>
								<a [routerLink]="['/post', item.id]" class="btn btn-secondary">En savoir plus</a>
							</div>
							<div class="dz-info">
								<h4 class="dz-title"><a [routerLink]="['/post', item.id]">{{ item.title }}</a></h4>
								<!-- <div class="dz-meta">
									<ul>
										<li class="dz-user">
											<i class="fa-solid fa-user"></i>
											By <span>{{ item.userName }}</span>
										</li>
										<li class="dz-date ms-1">
											<i class="fa-solid fa-message"></i>
											{{ item.comment }} Comments
										</li>
									</ul>
								</div> -->
								<p>{{ item.abstract }}</p>
							</div>
						</div>
						}
					</div>
					<div class="col-xl-5 col-lg-12 m-b30 wow fadeInUp" data-wow-delay="0.6s">
						<div class="dz-card style-7"
							[style.backgroundImage]="'url(' + secondMostRecentPost.blogPostImage + ')'">
							<div class="dz-category">
								<ul class="dz-badge-list">
									<li><a href="javascript:void(0);" class="dz-badge">{{ secondMostRecentPost.date
											}}</a></li>
								</ul>
							</div>
							<div class="dz-info">
								<h2 class="dz-title"><a [routerLink]="['/post', secondMostRecentPost.id]"
										class="text-white">{{
										secondMostRecentPost.title }}</a></h2>
								<div class="dz-meta">
									<p class="text-white">{{ secondMostRecentPost.abstract }}</p>
									<ul>
										<!-- <li class="dz-user">
											<i class="fa-solid fa-user"></i>
											Le <span></span>
										</li> -->
										<!-- <li class="dz-date ms-1">
											<i class="fa-solid fa-message"></i>
											24 Comments
										</li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Our Blog End  -->

		<!-- Client Logo -->
		<!-- <div class="clients-wrapper">
			<div class="container">
				<app-clients-swiper></app-clients-swiper>
			</div>
		</div> -->
		<!-- Client Logo -->

		<!-- Faq -->
		<div class="m-b100 bg-white">
			<app-faq-accordion [dataList]="faqSection"></app-faq-accordion>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<a [routerLink]="['/faq']" class="btn btn-primary">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Faq End -->


		<!-- Call Action -->
		<div class="footer-feature-wrapper">
			<div class="container">
				<app-call-to-action2></app-call-to-action2>
			</div>
		</div>

		<!-- Call Action -->

	</div>

	<!-- Footer -->
	<app-footer-2></app-footer-2>
	<!-- Footer End -->

	<app-scroll-top-button></app-scroll-top-button>
</div>