<div class="page-wraper">
	<!-- Header -->
	<app-header-2></app-header-2>
	<!-- Header End -->

	<div class="page-content bg-white">

		<!-- Banner  -->
		<app-banner-4 [data]="bennre"></app-banner-4>
		<!-- Banner End -->



		<!-- About Us -->
		<app-about-us-5></app-about-us-5>
		<!-- About Us -->

		<!-- About Us -->
		<app-about-us-6></app-about-us-6>
		<!-- About Us -->

		<!-- About Us -->
		<app-about-us-7></app-about-us-7>
		<!-- About Us -->

		<!-- About Us -->
		<app-about-us-3></app-about-us-3>

		<!-- About Us -->
		<app-about-us-4></app-about-us-4>
		<!-- About Us -->

		<!-- icon -box -->
		<app-icon-box-1 [data]="iconBox"></app-icon-box-1>
		<!-- icon -box -->
		<app-category-1 [sectionData]="categoryList"></app-category-1>
		<!-- Our Mission -->
		<!-- <app-counter4 [newClassAdd]="'bg-light'" [svgIcone]="true"></app-counter4> -->

		<!-- Our Team -->
		<!-- <app-team-1 [sectionData]="teamList"></app-team-1> -->
		<!-- Our Team -->


	</div>
	<!-- Footer -->
	<app-footer-2> </app-footer-2>
	<!-- Footer End -->
	<app-scroll-top-button></app-scroll-top-button>
</div>