<div class="page-wraper">

	<!-- Header -->
	<app-header-2></app-header-2>
	<!-- Header End -->

	<div class="page-content bg-white">

		<!-- Banner  -->
		<app-banner-4 [data]="bennre"></app-banner-4>
		<!-- Banner End -->

		<!-- Find Wrapper -->
		<div class="find-bx-wrapper">
			<div class="container">
				<div class="find-bx bg-white">
					<form>
						<div class="row align-items-center">
							<div class="col-lg-3 col-md-4">
								<app-dropdown [dropdown]="dropdown_item"></app-dropdown>
							</div>
							<div class="col-lg-9 col-md-8">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Find Projects">
									<div class="input-group-prepend">
										<button class="btn"><i class="las la-search"></i></button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tag-list popular-list">
					<span class="title text-black">Popular Search:</span>
					<a href="javascript:void(0);">Technology,</a>
					<a href="javascript:void(0);">Charity,</a>
					<a href="javascript:void(0);">Health,</a>
					<a href="javascript:void(0);">Medical</a>
				</div>
			</div>
		</div>
		<!-- Find Wrapper End -->

		<!-- Projects -->
		<section class="content-inner-2">
			<div class="container">
				<div class="row m-b30">
					<div class="col-xl-10 col-lg-9">
						<div class="site-filters style-1 clearfix">
							<ul class="filters" data-bs-toggle="buttons">
								<li [ngClass]="{'active': activeFilter === '*'}" class="btn">
									<input type="radio">
									<a href="javascript:void(0);" (click)="filterItems('*')">All Projects</a>
								</li>
								<li [ngClass]="{'active': activeFilter === '.technology'}" class="btn">
									<input type="radio">
									<a href="javascript:void(0);" (click)="filterItems('.technology')">Technology</a>
								</li>
								<li [ngClass]="{'active': activeFilter === '.medical'}" class="btn">
									<input type="radio">
									<a href="javascript:void(0);" (click)="filterItems('.medical')">Medical</a>
								</li>
								<li [ngClass]="{'active': activeFilter === '.business'}" class="btn">
									<input type="radio">
									<a href="javascript:void(0);" (click)="filterItems('.business')">Business</a>
								</li>
								<li [ngClass]="{'active': activeFilter === '.fashion'}" class="btn">
									<input type="radio">
									<a href="javascript:void(0);" (click)="filterItems('.fashion')">Fashion</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 text-start text-lg-end m-b20">
						<app-dropdown [dropdown]="dropdown_1"></app-dropdown>
					</div>
				</div>
				<div class="clearfix">
					<app-listing-1 [data]="recentBlog"
						[addClass]="'card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 m-b30'"></app-listing-1>
				</div>
				<div class="row">
					<div class="col-12 m-sm-t0 m-t30">
						<app-pagination></app-pagination>
					</div>
				</div>
			</div>
		</section>

		<!-- Call Action -->
		<app-call-to-action1></app-call-to-action1>
		<!-- Call Action -->

	</div>

	<!-- Footer -->
	<app-footer-2></app-footer-2>
	<!-- Footer End -->

	<app-scroll-top-button></app-scroll-top-button>
</div>