<div class="page-wraper">

	<!-- Header -->
	<app-header-2></app-header-2>
	<!-- Header End -->

	<div class="page-content bg-white">

		<!-- Banner  -->
		<app-banner-4 [data]="bennre"></app-banner-4>
		<!-- Banner End -->

		<!-- About Us -->
		<section class="content-inner-2">
			<div class="container">
				<app-counter1 [data]="aboutData"></app-counter1>
			</div>
		</section>
		<!-- About Us -->

		<!-- Testimonials -->
		<app-testimonial-1 [data]="dataTestimonial"></app-testimonial-1>
		<!-- Testimonials End -->


		<!-- Call Action -->
		<app-call-to-action1></app-call-to-action1>
		<!-- Call Action End -->

	</div>

	<!-- Footer -->
	<app-footer-2></app-footer-2>
	<!-- Footer End -->

	<app-scroll-top-button></app-scroll-top-button>
</div>