<div class="page-wraper">

	<!-- Header -->
	<app-header-2></app-header-2>
	<!-- Header End -->

	<div class="page-content bg-white">

		<!-- Banner  -->
		<app-banner-4 [data]="bennre"></app-banner-4>
		<!-- Banner End -->

		<section class="content-inner-2">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-lg-8 m-b40">
						<div class="col-12 m-b30">
							<!-- list -->
							<app-listing-2 [data]="listData" [listStyle]="'style-1'"></app-listing-2>
							<!-- End list -->
						</div>
						<div class="row">
							<div class="col-12 m-sm-t0 m-t30 m-b15">
								<app-pagination></app-pagination>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4">
						<app-blog-sidebar></app-blog-sidebar>
					</div>
				</div>
			</div>
		</section>

		<!-- Call Action -->
		<app-call-to-action1></app-call-to-action1>
		<!-- Call Action -->

	</div>

	<!-- Footer -->
	<app-footer-2> </app-footer-2>
	<!-- Footer End -->
	<app-scroll-top-button></app-scroll-top-button>
</div>