<div class="widget style-1 recent-posts-entry">
  <div class="widget-title">
    <h5 class="title">Recent Post</h5>
  </div>
  <div class="widget-post-bx">
    <div class="widget-post clearfix">
      <div class="dz-media">
        <img src="assets/images/blog/recent-blog/pic1.jpg" alt="">
      </div>
      <div class="dz-info">
        <h6 class="title"><a [routerLink]="['/blog-details']">New vaccine for cattle calf loss learned.</a></h6>
        <div class="dz-meta">
          <ul>
            <li class="post-date"><i class="fa-solid fa-calendar-days"></i> 7 March, 2022</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="widget-post clearfix">
      <div class="dz-media">
        <img src="assets/images/blog/recent-blog/pic2.jpg" alt="">
      </div>
      <div class="dz-info">
        <h6 class="title"><a [routerLink]="['/blog-details']">He Created the Web. Now He’s Out to Remake.</a></h6>
        <div class="dz-meta">
          <ul>
            <li class="post-date"><i class="fa-solid fa-calendar-days"></i> 7 March, 2022</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="widget-post clearfix">
      <div class="dz-media">
        <img src="assets/images/blog/recent-blog/pic3.jpg" alt="">
      </div>
      <div class="dz-info">
        <h6 class="title"><a [routerLink]="['/blog-details']">Partnering to create a community.</a></h6>
        <div class="dz-meta">
          <ul>
            <li class="post-date"><i class="fa-solid fa-calendar-days"></i> 7 March, 2022</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="widget-post clearfix">
      <div class="dz-media">
        <img src="assets/images/blog/recent-blog/pic4.jpg" alt="">
      </div>
      <div class="dz-info">
        <h6 class="title"><a [routerLink]="['/blog-details']">Best & Less published their supplier lists.</a></h6>
        <div class="dz-meta">
          <ul>
            <li class="post-date"><i class="fa-solid fa-calendar-days"></i> 7 March, 2022</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
