<div class="widget style-1 recent-posts-entry">
  <div class="widget-title">
    <h5 class="title">Avancées Récentes</h5>
  </div>
  @for(item of topTreeSteps; track item){
  <div class="widget-post-bx  myPost">
    <div class="widget-post clearfix">
      <div class="dz-media">
        <img src="{{item.blogImage}}" alt="">
      </div>
      <div class="dz-info">
        <h6 class="title"><a [routerLink]="['/step', item.id]">{{ item.title }}</a></h6>
        <div class="dz-meta">
          <ul>
            <li class="post-date"><i class="fa-solid fa-calendar-days"></i> {{ item.date }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  }
</div>