<section class="content-inner">
  <div class="container">
    <div class="row align-items-center project-bx left m-b30">
      <div class="col-lg-6 col-md-12">
        <div class="dz-media split-box">
          <div>
            <img src="assets/images/project/large/pic1.jpg" alt="" class="app-1">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="dz-content">
          <h2 class="title m-b15">Our Mission</h2>
          <p class="m-b0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit au</p>
        </div>
      </div>
    </div>
  </div>
</section>
