<section class="content-inner">
  <div class="container">
    <div class="row align-items-center project-bx left m-b30">
      <div class="col-lg-6 col-md-12">
        <div class="dz-media split-box">
          <div>
            <img src="assets/images/project/project1/photostyle1.jpg" alt="" class="app-1">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="dz-content">
          <h2 class="title m-b15">Qui sommes nous?</h2>
          <p class="m-b0">L'association BARCA, signifiant 'merci' en moré, agit pour transformer des vies en favorisant
            l'accès à l'éducation, à l'eau potable, et à un environnement durable. Reconnaissante d'utilité publique,
            elle œuvre avec passion entre la France et le Burkina Faso.</p>
        </div>
      </div>
    </div>
  </div>
</section>