<div class="page-wraper">

	<!-- Header -->
	<app-header-1></app-header-1>
	<!-- Header End -->

	<div class="page-content bg-white">

		<section class="content-inner-2">
			<div class="container">
				<div class="row ">
					<div class="col-xl-8 col-lg-8 m-b30">
						<div class="dz-card blog-single sidebar">
							<div class="dz-media">
								<img src="assets/images/blog/large/pic1.jpg" alt="">
							</div>
							<div class="dz-info">
								<div class="dz-meta">
									<ul>
										<li class="post-date"><i class="fa-solid fa-calendar-days"></i> 7 March, 2024
										</li>
										<li class="post-author ms-1"><a href="javascript:void(0);"><i
													class="fa-solid fa-user"></i> By Johne Doe</a></li>
									</ul>
								</div>
								<div class="dz-post-text">

									<h1 class="dz-title">{{ step.title }}</h1>

									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis, tortor
										in varius lobortis, sapien arcu ornare nisi, ut volutpat ante augue quis arcu.
										Phasellus lacinia magna elit, at maximus leo tristique non. Phasellus laoreet,
										nisi quis fermentum blandit, leo dolor bibendum arcu, vel dignissim diam odio a
										elit. In dapibus congue urna vitae porta. Quisque tincidunt velit sed
										ullamcorper pretium. Nullam vitae luctus libero.</p>
									<ul class="wp-block-gallery columns-3">
										<li class="blocks-gallery-item"><img alt=""
												src="assets/images/blog/blog-grid/pic2.jpg"></li>
										<li class="blocks-gallery-item"><img alt=""
												src="assets/images/blog/blog-grid/pic1.jpg"></li>
									</ul>
									<p>Vestibulum porttitor purus commodo sagittis molestie. Fusce facilisis ipsum ut
										tincidunt suscipit. Vivamus tristique lectus quis dignissim convallis. Cras eget
										ipsum bibendum, feugiat libero in, scelerisque erat. Vestibulum ante ipsum
										primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
									<blockquote class="block-quote style-1">
										<p>“You can make anything look good. Only a quarter of young adults are
											financially literate. You don’t want to overwhelm them with terrible
											advice.”</p>
										<cite> Akcel </cite>
									</blockquote>
									<p>Aliquam in laoreet dui. Aliquam blandit nisl lacus, sed suscipit massa pulvinar
										vitae. Proin non dui eros. Mauris lobortis arcu a quam tincidunt, at consectetur
										urna dapibus. Curabitur sagittis nisl vel dolor porta, eu fringilla est
										accumsan. Donec eleifend dignissim risus a tempor. Sed suscipit ultrices
										viverra.</p>
									<ul>
										<li>Aliquam blandit nisl lacus, sed suscipit massa pulvinar vitae</li>
										<li>Donec eleifend dignissim risus a tempor Sed suscipit ultrices viverra.</li>
										<li>Only a quarter of young adults are financially literate overwhelm them
											advice.</li>
										<li>Lorem ipsum dolor sit amet tortor in varius lobortis, sapien arcu ornare
											nisi</li>
										<li>Curabitur sagittis nisl vel dolor fringilla est eleifend dignissim risus.
										</li>
									</ul>
									<p>Aliquam in laoreet dui. Aliquam blandit nisl lacus, sed suscipit massa pulvinar
										vitae. Proin non dui eros. Mauris lobortis arcu a quam tincidunt, at consectetur
										urna dapibus. Curabitur sagittis nisl vel dolor porta, eu fringilla est
										accumsan. Donec eleifend dignissim risus a tempor. Sed suscipit ultrices
										viverra.</p>
								</div>
							</div>
							<!-- dz-share-post -->
							<div class="dz-share-post">
								<div class="dz-social-icon">
									<h6 class="title">Share:</h6>
									<ul>
										<li><a class="fab fa-facebook-f me-1" href="javascript:void(0);"></a></li>
										<li><a class="fab fa-instagram me-1" href="javascript:void(0);"></a></li>
										<li><a class="fab fa-twitter" href="javascript:void(0);"></a></li>
									</ul>
								</div>
								<div class="post-tags">
									<a href="javascript:void(0);">#Mobile</a>
									<a href="javascript:void(0);">#Software</a>
									<a href="javascript:void(0);">#Technology</a>
								</div>
							</div>
							<!-- dz-share-post End-->
						</div>

						<!-- Author Box -->
						<div class="author-box blog-user m-b60">
							<div class="author-profile-info">
								<div class="author-profile-pic">
									<img src="assets/images/testimonials/pic2.jpg" alt="Profile Pic">
								</div>
								<div class="author-profile-content">
									<h4>Jake Johnson</h4>
									<p>We were making our way to the Rila Mountains, where we were visiting the Rila
										Monastery where we enjoyed.</p>
									<ul class="list-inline m-b0">
										<li>
											<a href="https://www.facebook.com" target="_blank" class="btn-link">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="https://www.twitter.com" target="_blank" class="btn-link">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://www.google.com" target="_blank" class="btn-link">
												<i class="fab fa-google-plus"></i>
											</a>
										</li>
										<li>
											<a href="https://www.youtube.com" target="_blank" class="btn-link">
												<i class="fab fa-youtube"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Comment List -->
						<app-blog-comments></app-blog-comments>

					</div>
					<div class="col-xl-4 col-lg-4">
						<app-blog-sidebar></app-blog-sidebar>
					</div>
				</div>
			</div>
		</section>

		<!-- Our Blog  -->
		<section class="content-inner-3">
			<div class="container">
				<div class="section-head">
					<h2 class="title">Related Articles</h2>
				</div>
				<!-- <app-blog-slider-2-swiper [data]="listData"></app-blog-slider-2-swiper> -->
			</div>
		</section>
		<!-- Our Blog  -->
		<!-- Call Action -->
		<app-call-to-action1></app-call-to-action1>
		<!-- Call Action -->

	</div>

	<!-- Footer -->
	<app-footer-1> </app-footer-1>
	<!-- Footer End -->
	<app-scroll-top-button></app-scroll-top-button>
</div>