<section class="content-inner-2 section-pattren1 {{ newClassAdd }}">
  <div class="container">
    <div class="row about-bx3 align-items-center">
      <div class="col-lg-5">
        <div class="dz-media">
          <img src="assets/images/freepik/1.jpg" alt="image">
        </div>
      </div>
      <div class="col-lg-7 m-b50">
        <div class="section-head">
          <!-- <h5 class="sub-title">Our Mission</h5> -->
          <h2>Prêt à Faire la Différence ?</h2>
          <p class="m-t20">Nous avons besoin de vous !<br>
            Que vous soyez disponible quelques heures par mois ou prêt à vous engager sur le long terme, chaque geste
            compte.</p>
          <h5>Contactez-nous dès aujourd’hui pour devenir bénévole :</h5>
          <ul>
            <li>Email : association.barca&#64;gmail.com</li>
            <li>Téléphone : +33 6 22 69 70 21</li>
          </ul>
          <p>Ensemble, nous pouvons transformer des rêves en réalité.</p>
        </div>

        <!-- <div class="row">
          <div class="col-lg-3 col-sm-4 col-6 m-b30">
            <h2><span class="counter" [countUp]="4556" [options]="opts"></span></h2>
            <span class="counter-text">Total Donor</span>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 m-b30">
            <h2><span class="counter" [countUp]="874" [options]="opts"></span></h2>
            <span class="counter-text">Volunteer</span>
          </div>
          <div class="col-lg-4 col-sm-4 col-12 m-b30">
            <h2>$ <span class="counter" [countUp]="195234" [options]="opts"></span></h2>
            <span class="counter-text">Total Donation</span>
          </div>
        </div> -->
        <!-- <a class="btn btn-primary btnhover1" href="javascript:void(0);">
          <span>Faire un don</span>
          <i class="flaticon-heart ms-3 {{ headerClass?'':'text-secondary' }}"></i>
        </a> -->
      </div>
    </div>
  </div>
  @if(svgIcone){
  <span [innerHTML]="contentSvgImage"></span>
  }
</section>