@if(sectionData){
@for(contentData of sectionData; track contentData){
<section class="content-inner-3 section-pattren1">
  <div class="container">
    <div class="section-head text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="sub-title">{{ contentData.section_subtitle }}</h6>
      <h2 class="title" [innerHtml]="contentData.section_title"></h2>
      <p>{{ contentData.section_description }}</p>
    </div>
    <div class="swiper team-slider">
      <app-team-slider-swiper [data]="contentData.team"></app-team-slider-swiper>
    </div>
  </div>
  <span [innerHTML]="ourTeamSvgImage"></span>
</section>
}
}
