<section class="content-inner bg-light section-pattren1">
  <div class="container">
    <div class="row align-items-center project-bx right">
      <div class="col-lg-6 col-md-12 m-b30">
        <div class="dz-content">
          <h2 class="title m-b15">Our Vision</h2>
          <p class="m-b0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit au</p>
          <a [routerLink]="['/project-story']" class="btn btn-primary m-t30">View More <i class="fa-solid fa-angle-right ms-2"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 m-b30">
        <div class="dz-media split-box">
          <div>
            <img src="assets/images/project/large/pic2.jpg" alt="" class="app-1">
          </div>
        </div>
      </div>
    </div>
  </div>
  <span [innerHTML]="SvgImage"></span>
</section>
