<div class="page-wraper">

	<!-- Header -->
  <app-header-1></app-header-1>
	<!-- Header End -->

	<div class="page-content bg-white">

		<!-- Banner  -->
    <app-banner-4 [data]="bennre"></app-banner-4>
		<!-- Banner End -->

		<section class="content-inner bg-light section-pattren1">
			<div class="container">
				<div class="row">
          @for(item of contentData; track item; let i = $index){
            @if(i%2 == 0){
            <div class="col-lg-10 m-b50">
              <div class="testimonial-3">
                <div class="testimonial-media">
                  <img src="{{ item.image }}" alt="">
                </div>
                <div class="testimonial-content">
                  <h5 class="testimonial-title" [innerHtml]="item.title"></h5>
                  <p class="testimonial-text">{{ item.desc }}<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#read">Read More</a></p>
                  <div class="testimonial-info">
                    <div class="quotes">
                      <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <div class="clearfix">
                      <h5 class="testimonial-name">{{ item.userName }}</h5>
                      <span class="testimonial-position">{{ item.position }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            } @else{
            <div class="col-lg-10 offset-lg-2 m-b50">
              <div class="testimonial-3 right">
                <div class="testimonial-content">
                  <h5 class="testimonial-title" [innerHtml]="item.title"></h5>
                  <p class="testimonial-text">{{ item.desc }}<a href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target="#read">Read More</a></p>
                  <div class="testimonial-info">
                    <div class="quotes">
                      <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <div class="clearfix">
                      <h5 class="testimonial-name">{{ item.userName }}</h5>
                      <span class="testimonial-position">{{ item.position }}</span>
                    </div>
                  </div>
                </div>
                <div class="testimonial-media">
                  <img src="{{ item.image }}" alt="">
                </div>
              </div>
            </div>
            }
          }
				</div>
			</div>
			<span [innerHTML]="happyClientSvgImage"></span>
		</section>

	</div>

  <!-- Footer -->
  <app-footer-1></app-footer-1>
  <!-- Footer End -->

  <app-scroll-top-button></app-scroll-top-button>
</div>
