<div class="page-wraper">

	<!-- Header -->
	<app-header-2></app-header-2>
	<!-- Header End -->

	<div class="page-content bg-white">

		<!-- Banner  -->
		<app-banner-4 [data]="bennre"></app-banner-4>
		<!-- Banner End -->

		<div class="content-inner-2">
			<div class="container">
				<div class="row dz-terms">
					<div class="col-xl-4 col-lg-5 m-b40">
						<aside class="side-bar sticky-top">
							<div class="dz-terms-list">
								<ul class="navbar-nav navbar-scroll">
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection01'}"><a
											(click)="onClick('scrollNavSection01')" class="nav-link scroll">Présentation
											de
											l’association</a></li>
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection02'}"><a
											(click)="onClick('scrollNavSection02')" class="nav-link scroll">Objet des
											présentes
											conditions</a></li>
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection03'}"><a
											(click)="onClick('scrollNavSection03')" class="nav-link scroll"> Accès et
											utilisation du
											site</a></li>
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection04'}"><a
											(click)="onClick('scrollNavSection04')" class="nav-link scroll">Collecte de
											dons et
											adhésions via HelloAsso</a>
									</li>
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection05'}"><a
											(click)="onClick('scrollNavSection05')" class="nav-link scroll">Protection
											des données
											personnelles</a></li>
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection06'}"><a
											(click)="onClick('scrollNavSection06')"
											class="nav-link scroll">Responsabilités</a></li>
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection07'}"><a
											(click)="onClick('scrollNavSection07')" class="nav-link scroll">Propriété
											intellectuelle</a>
									</li>
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection08'}"><a
											(click)="onClick('scrollNavSection08')" class="nav-link scroll">Modification
											des
											CGU/CGV</a></li>
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection09'}"><a
											(click)="onClick('scrollNavSection09')" class="nav-link scroll">Droit
											applicable et
											juridiction compétente</a></li>
									<li [ngClass]="{'active': activeScroll === 'scrollNavSection10'}"><a
											(click)="onClick('scrollNavSection10')" class="nav-link scroll">Contact</a>
									</li>
								</ul>
							</div>
						</aside>
					</div>


					<div class="col-xl-8 col-lg-7">

						<div class="dz-terms-content" id="scrollNavSection01">
							<h4 class="title">Présentation de l’association</h4>
							<p>L'association Barca, régie par la loi du 1er juillet 1901, a pour objet en priorité
								d'aider au développement, de lutter contre la malnutrition des enfants, d'assurer leur
								suivi sanitaire et de contribuer à leur épanouissement. </p>
							<ul>
								<li><strong>Adresse : </strong>69400 ARNAS </li>
								<li><strong>E-mail : </strong><a
										href="mailto:association.barca@gmail.com">association.barca&#64;gmail.com</a>
								</li>
								<li><strong>Numéro SIRET : </strong>93397271300012 </li>
							</ul>
							<p>Ce site web est édité par l’association et a pour vocation de présenter ses activités,
								permettre la collecte de dons et informer ses utilisateurs.</p>
						</div>

						<div class="dz-terms-content" id="scrollNavSection02">
							<h4 class="title">Objet des présentes conditions</h4>
							<p>Les présentes Conditions Générales d’Utilisation (CGU) et de Collecte de Dons définissent
								les modalités d’utilisation du site ainsi que les conditions dans lesquelles les dons et
								adhésions sont gérés via HelloAsso. En accédant au site, en effectuant un don ou une
								adhésion, vous acceptez ces conditions.</p>
						</div>

						<div class="dz-terms-content" id="scrollNavSection03">
							<h4 class="title">Accès et utilisation du site</h4>
							<p>Le site est accessible à tout moment, sauf en cas de maintenance ou d’incident technique.
								L’utilisateur s’engage à respecter les règles d’utilisation suivantes :</p>
							<ul>
								<li>Utiliser le site dans le respect de la loi et des bonnes pratiques.</li>
								<li>Ne pas tenter d’accéder de manière frauduleuse aux systèmes informatiques.</li>
							</ul>
						</div>

						<div class="dz-terms-content" id="scrollNavSection04">
							<h4 class="title">Collecte de dons et adhésions via HelloAsso</h4>
							<ul>
								<li>
									<h5>Plateforme HelloAsso</h5>
									<p>Les dons et adhésions effectués via le site sont traités par la plateforme
										HelloAsso. En
										effectuant un don ou une adhésion, vous acceptez également les <a
											href="https://www.helloasso.com/cgu-utilisateur">conditions générales
											d’utilisation
											de HelloAsso</a>.</p>
								</li>
								<li>
									<h5>Processus de don et d’adhésion</h5>
									<p>Les dons et adhésions sont réalisés en ligne via un formulaire sécurisé fourni
										par HelloAsso. Une confirmation est envoyée par e-mail après validation du
										paiement.</p>
								</li>
								<li>
									<h5>Utilisation des fonds et des cotisations</h5>
									<p>Les fonds collectés à travers les dons et les cotisations des adhésions sont
										destinés à financer les activités et projets décrits sur le site. Une partie des
										fonds peut inclure une contribution facultative au fonctionnement de HelloAsso.
									</p>
								</li>
								<li>
									<h5>Absence de remboursement</h5>
									<p>Les dons sont considérés comme des actes volontaires et définitifs. Aucun
										remboursement ne sera effectué, sauf en cas d’erreur technique signalée dans les
										14 jours suivant la transaction. Pour les adhésions, aucun remboursement ne sera
										accordé une fois l’adhésion validée.</p>
								</li>
							</ul>
						</div>

						<div class="dz-terms-content" id="scrollNavSection05">
							<h4 class="title">Protection des données personnelles</h4>
							<ul>
								<li>
									<h5>Collecte des données</h5>
									<p>Les données personnelles collectées via HelloAsso ou directement sur notre site
										sont strictement utilisées pour la gestion des dons et des adhésions, et,
										l’envoi d’informations relatives à l’association (newsletter, événements)</p>
								</li>
								<li>
									<h5>Partage des données</h5>
									<p>Les informations de paiement sont exclusivement traitées par HelloAsso. Nous
										n’avons pas accès à vos informations bancaires.</p>
								</li>
								<li>
									<h5>Vos droits</h5>
									<p>Conformément au Règlement Général sur la Protection des Données (RGPD), vous
										disposez d’un droit d’accès, de rectification, et de suppression de vos données.
										Vous pouvez exercer ces droits en contactant : <a
											href="mailto:association.barca@gmail.com">association.barca&#64;gmail.com</a>
									</p>
								</li>
								<li>
									<h5>Durée de conservation</h5>
									<p>Les données sont conservées pendant une durée maximale de 3 ans après votre
										dernier don, adhésion ou interaction avec l’association.</p>
								</li>
							</ul>
						</div>

						<div class="dz-terms-content" id="scrollNavSection06">
							<h4 class="title">Responsabilités</h4>
							<ul>
								<li>
									<h5>Exclusion de garantie</h5>
									<p>Nous ne garantissons pas que le site sera exempt d’erreurs ou accessible de
										manière continue.</p>
								</li>
								<li>
									<h5>Limitation de responsabilité</h5>
									<p>L’association n’est pas responsable des problèmes techniques liés à HelloAsso ou
										des pertes liées à des événements hors de notre contrôle (cyberattaques,
										interruptions de service).</p>
								</li>
							</ul>
						</div>

						<div class="dz-terms-content" id="scrollNavSection07">
							<h4 class="title">Propriété intellectuelle</h4>
							<p>Tous les contenus présents sur le site (textes, images, logos) sont la propriété
								exclusive de l’association. Toute reproduction ou utilisation sans autorisation est
								interdite.</p>
						</div>

						<div class="dz-terms-content" id="scrollNavSection08">
							<h4 class="title">Modification des CGU/CGV</h4>
							<p>L’association se réserve le droit de modifier les présentes conditions à tout moment. Ces
								modifications prennent effet dès leur mise en ligne.</p>
						</div>

						<div class="dz-terms-content" id="scrollNavSection09">
							<h4 class="title">Droit applicable et juridiction compétente</h4>
							<p>Les présentes conditions sont soumises au droit français. En cas de litige, les tribunaux
								français seront seuls compétents.</p>
						</div>

						<div class="dz-terms-content" id="scrollNavSection10">
							<h4 class="title">Contact & WebMaster</h4>
							<p>Pour toute question relative aux présentes conditions, vous pouvez nous contacter par
								e-mail à
								<strong><a class="text-dark gmail" target="_blank"
										href="mailto:association.barca@gmail.com">association.barca&#64;gmail.com</a></strong>
							</p>
							<p>
								Le site est créé par <strong><a class="text-dark gmail" target="_blank"
										href="mailto:lequellecoceane@live.fr">Océane Le Quellec</a></strong>, secrétaire
								&
								webmaster de l’association, joignable par e-mail à l’adresse suivante :
								<strong><a class="text-dark gmail" target="_blank"
										href="mailto:lequellecoceane@live.fr">lequellecoceane&#64;live.fr</a></strong>.
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>



	</div>

	<!-- Footer -->
	<app-footer-2></app-footer-2>
	<!-- Footer End -->

	<app-scroll-top-button></app-scroll-top-button>
</div>