<section class="content-inner-2">
  <div class="container">
    <div class="row align-items-center project-bx left m-b30">
      <div class="col-lg-6 col-md-12">
        <div class="dz-media split-box">
          <div>
            <img src="assets/images/about/pic4.jpg" alt="" class="app-1">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="dz-content">
          <h2 class="title m-b15">Notre Projet</h2>
          <h5 class="m-b0">Construction d’un centre d’enseignement participatif à Zagtouli, à 7 km de
            Ouagadougou.</h5>
          <p class="m-b0">Zagtouli est un village péri-urbain où les besoins en infrastructures éducatives et en eau
            sont immenses. Notre projet vise à transformer cette communauté en un modèle de développement durable.</p>
          <!-- <div class="signature m-t30">
            <img src="assets/images/about/signature.png" alt="image">
            <p class="text-dark m-t20 mb-0">William Durant</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>