<div class="swiper blog-slider-full">
  <div class="swiper-wrapper">
    @for(item of data; track item){
    <div class="swiper-slide">
      <div class="dz-card style-1">
        <div class="dz-media">
          <a [routerLink]="['/post', item.id]"><img src="{{ item.blogPostImage }}" alt=""></a>
          <ul class="dz-badge-list">
            <li><a href="javascript:void(0);" class="dz-badge">{{ item.type }}</a></li>
          </ul>
          <a [routerLink]="['/post', item.id]" class="btn btn-secondary">Read More</a>
        </div>
        <div class="author-wrappper">
          <!-- <div class="author-media">
            <img src="{{ item.userImage }}" alt="">
          </div> -->
          <div class="author-content">
            <!-- <div class="author-head">
              <h6 class="author-name">{{ item.name }}</h6>
            </div> -->
            <ul class="author-meta">
              <li class="date  myDate">{{ item.date }}</li>
            </ul>
          </div>
        </div>
        <div class="dz-info">
          <h5 class="dz-title"><a [routerLink]="['/post', item.id]">{{ item.title }}</a></h5>
          <p>{{ item.abstract }}</p>


        </div>
      </div>
    </div>
    }
  </div>
</div>