<section class="clearfix section-wrapper7">
  <div class="container-fluid">
    <div class="content-inner bg-gray section-inner" style="background-image:url('assets/images/background/bg10.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="section-head text-center wow fadeInUp" data-wow-delay="0.2s">
        <h5 class="sub-title">LATEST CAUSES</h5>
        <h2>Trending Fundraisers</h2>
      </div>

      <app-blog-slider-1-swiper [data]="blogData"></app-blog-slider-1-swiper>

      <div class="text-center m-t30 m-b30 wow fadeInUp" data-wow-delay="1.0s">
        <a class="btn btn-primary" [routerLink]="['/browse-fundraiser']">View All Causes</a>
      </div>
    </div>
  </div>
</section>
