<div class="page-wraper">

	<!-- Header -->
	<app-header-2></app-header-2>
	<!-- Header End -->

	<div class="page-content bg-white">

		<!-- Banner  -->
		<app-banner-4 [data]="bennre"></app-banner-4>
		<!-- Banner End -->

		<!-- Categories -->
		<app-category-2 [data]="iconList"></app-category-2>
		<!-- categories -->

		<!-- Our Mission -->
		<app-counter4 [newClassAdd]="'bg-light'" [svgIcone]="true"></app-counter4>

		<!-- About Us -->
		<app-about-us-5></app-about-us-5>
		<!-- About Us -->

		<!-- About Us -->
		<app-about-us-6></app-about-us-6>
		<!-- About Us -->

		<!-- About Us -->
		<app-about-us-7></app-about-us-7>
		<!-- About Us -->

		<!-- Call Action -->
		<app-call-to-action1></app-call-to-action1>
		<!-- Call Action -->

	</div>

	<!-- Footer -->
	<app-footer-2></app-footer-2>
	<!-- Footer End -->

	<app-scroll-top-button></app-scroll-top-button>
</div>